/* Default header button style (for larger screens) */
.fc .fc-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
/* #27272a button color */
/* Default header title style */
.fc .fc-toolbar-title {
  font-size: 1.5rem; /* Larger font for bigger screens */
  font-weight: bold;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Smaller buttons for small screens */
  .fc .fc-button {
    padding: 0.3rem 0.6rem; /* Smaller padding */
    font-size: 0.8rem; /* Smaller font size */
  }

  /* Smaller header title for small screens */
  .fc .fc-toolbar-title {
    font-size: 1rem; /* Smaller font for the title */
    font-weight: bold;
  }

  /* Adjust the button container spacing for small screens */
  .fc-header-toolbar {
    flex-wrap: nowrap; /* Allow buttons to wrap */
    justify-content: space-between;
  }
}
@media (max-width: 1024px) {
  .fc .fc-button {
    padding: 0.6rem 0.8rem; /* Smaller padding */
    font-size: 0.8rem; /* Smaller font size */
  }

  /* Smaller header title for small screens */
  .fc .fc-toolbar-title {
    font-size: 1rem; /* Smaller font for the title */
    font-weight: bold;
  }

  /* Adjust the button container spacing for small screens */
  .fc-header-toolbar {
    flex-wrap: nowrap; /* Allow buttons to wrap */
    justify-content: space-between;
  }
}
